*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.c1{
    background-color: blue;
    height: 100px;
    align-items: center;
    display:flex;
}
.im1{
  width: 50%;
}
.c{
    background-color: rgb(78, 232, 178);
}
.f{
    font-size: 250%;
    color: white;
}
.f_1{
    font-size: 120%;
    color: white;
}
.f_2{
    font-size: 170%;
}
.f_3{
    font-size: 250%;
}
.dim{
    width: 520px;
}
